<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Form</title>
    <style>
        h1 {
            background-color: black;
            color: white;
        }
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        form {
            display: inline-block;
            text-align: left;
            margin-top: 60px;
        }
        button {
            display: inline-block;
            text-align: center;
            margin-top: 20px;
            background-color: blue;
            color: white;
            margin-left: 40px;
        }
        label, select {
            display: block;
            margin-bottom: 10px;
            text-align: center;
            align-items: center;
        }
        label {
            background-color: black;
            color: white;
            
        }
        input[type="submit"] {
            margin-top: 20px;
            background-color: green;
            color: white;
        }
        #showListBtn {
            display: block;
            margin-top: 20px;
        }
        #projectList {
            list-style-type: none;
            padding: 0;
            text-align: center;
        }
        #projectList li {
            margin-bottom: 10px;
        }
        #plus {
            margin-bottom: 40px;
            margin-right: 0px;
        }
    </style>
    <script>
        // Function to fetch blocks from Python function using AJAX
        function fetchProjects() {
            fetch('/run/get_all_projects/')  // Assuming your Python function endpoint is '/get_blocks'
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    const projectDropdown = document.getElementById('project');
                    projectDropdown.innerHTML = '';
                    data.projects.forEach(project => {
                        const optionElement = document.createElement('option');
                        optionElement.textContent = project;
                        projectDropdown.appendChild(optionElement);
                    });
                    // Trigger update for project dropdown based on initial block selection
                    // updateProjectOptions();
                })
                .catch(error => console.error('Error fetching projects:', error));
        }


        // Function to update project setup dropdown based on project selection
        function update_block_project_setup() {
            const projectDropdown = document.getElementById('project');
            const selectedProject = projectDropdown.value;

            console.log(selectedProject)

            // Make a request to your Django API endpoint to fetch project setups for the selected project
            fetch('/run/get_project_setups/' + selectedProject + '/') // Assuming the endpoint is '/get_project_setups/'
                .then(response => response.json())
                .then(data => {
                    const setupDropdown = document.getElementById('projectSetup');
                    setupDropdown.innerHTML = ''; // Clear previous options
                    console.log(data)

                    if (data.projectSetups) { // Check if data.projectSetups exists
                        data.projectSetups.forEach(setup => {
                            const optionElement = document.createElement('option');
                            optionElement.textContent = setup;
                            setupDropdown.appendChild(optionElement);
                        });
                    } else {
                        console.error('No project setups found for project:', selectedProject);
                    }
                })
                .catch(error => console.error('Error fetching project setups:', error));

            fetch('/run/get_blocks/' + selectedProject + '/') // Assuming the endpoint is '/get_project_setups/'
                .then(response => response.json())
                .then(data => {
                    const blockDropdown = document.getElementById('block');
                    blockDropdown.innerHTML = ''; // Clear previous options
                    console.log(data)

                    if (data.blocks) { // Check if data.projectSetups exists
                        data.blocks.forEach(block => {
                            const optionElement = document.createElement('option');
                            optionElement.textContent = block;
                            blockDropdown.appendChild(optionElement);
                        });
                    } else {
                        console.error('No project setups found for project:', selectedProject);
                    }
                })
                .catch(error => console.error('Error fetching blocks:', error));
        }

        function fetchLatestBuildPaths() {
            fetch('/run/get_latest_build_path/') // Assuming the endpoint is '/get_latest_build_path/'
                .then(response => response.json())
                .then(data => {
                    const buildPathDropdown = document.getElementById('buildPath');
                    buildPathDropdown.innerHTML = ''; // Clear previous options

                    data.latestBuildPaths.forEach(path => {
                        const optionElement = document.createElement('option');
                        optionElement.textContent = path;
                        buildPathDropdown.appendChild(optionElement);
                    });
                })
                .catch(error => console.error('Error fetching latest build paths:', error));
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Check if the cookie name matches the specified name
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        // Extract and return the cookie value
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function submitForm(e) {

            e.preventDefault();

            const block = document.getElementById('block').value;
            const project = document.getElementById('project').value;
            const projectSetup = document.getElementById('projectSetup').value;
            const buildPath = document.getElementById('buildPath').value;


            // Construct form data to send to the backend
            const formData = new FormData();
            formData.append('block', block);
            formData.append('project', project);
            formData.append('projectSetup', projectSetup);
            formData.append('buildPath', buildPath);

            console.log(formData)

            // Send form data to the backend using fetch API
            const csrftoken = getCookie('csrftoken'); // Function to retrieve CSRF token from cookie
            console.log(csrftoken)
            fetch('/run/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken') // Get the CSRF token from cookie
                },
                body: formData // Send the form data directly
            })
            .then(response => response.text())
            .then(data => {
                // Handle response from the backend if needed
                console.log(data);
            })
            .catch(error => console.error('Error submitting form:', error));
        }

        function fetchProjectList() {
            fetch('/run/get_project_list/')
            .then(response => response.json())
            .then(data => {
                const projectList = document.getElementById('projectList');
                projectList.innerHTML = '';
                data.projects.forEach(project => {
                    const listItem = document.createElement('li');
                    listItem.textContent = `${project.PROJECT} - ${project.OWNER}`;
                    
                    // Create an OK button for each list item
                    const okButton = document.createElement('button');
                    okButton.textContent = 'RUN';
                    
                    okButton.onclick = () => {
                        console.log(project.PROJECT)
                        console.log(project.OWNER)

                        fetch(`/run/execute_commands/?project=${encodeURIComponent(project.PROJECT)}&owner=${encodeURIComponent(project.OWNER)}`, {
                            method: 'GET',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': getCookie('csrftoken') // Assuming you're using Django's CSRF protection
                            }
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(data);
                            alert(`Commands executed successfully for ${project.OWNER}`);
                        })
                        .catch(error => {
                            console.error('There was a problem with the fetch operation:', error);
                        });

                    };
                    
                    listItem.appendChild(okButton);
                    projectList.appendChild(listItem);
                });
            })
            .catch(error => console.error('Error:', error));
        }



        // Initial setup when the page is loaded
        window.onload = function() {
            fetchProjects();
            fetchLatestBuildPaths();
        };
    </script>
</head>
<body>
    <h1>MILE PD REGRESSION</h1>
    <form id="myForm" action="/run/" method="post">
        {% csrf_token %}
    
        <label for="project">Project:</label>
        <select id="project" onclick="update_block_project_setup()">
            <!-- Options will be populated dynamically -->
        </select>
    
        <label for="block">Block:</label>
        <select id="block">
            <!-- Options will be populated dynamically -->
        </select>
    
        <label for="projectSetup">Project Setup:</label>
        <select id="projectSetup">
            <!-- Options will be populated dynamically -->
        </select><br>
    
        <label for="buildPath">Build Path:</label>
        <select id="buildPath">
            <!-- Options will be populated dynamically -->
        </select><br>
    
        <input type="submit" value="Run" onclick="submitForm(event)">
    </form>
    

    <button id="showListBtn" onclick="fetchProjectList()">List My VOV Project</button>

    <ul id="projectList"></ul>

    <ul id="projectList"></ul>
</body>
</html>
